# kicad
*.bak
*.bck
*.kicad_pcb-bak
*.lock.lock
*-cache.lib
*_saved_*.sch

# python
*.pyc
dist
build
__pycache__
*.pyc
*.egg-info

# arduino/ visual micro in visual studio
Firmware-ESP32/Release/*
Firmware-ESP32/__vm/*
*vcxproj*
*.vscode*
